<footer class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: surendra.kumar@locadex.ae</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-light">Home</a></li>
                    <li><a href="contact.html" class="text-light">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2025 Locadex Arab Logistics LLC. All rights reserved.</p>
            </div>
            <!-- Footer Ad Space -->
            <div class="col-12 mt-3">
                <div class="ad-container">
                    <!-- Google AdSense Code will go here -->
                    <div class="ad-placeholder">Footer Advertisement Space</div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Font Awesome for social icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
